<!-- Email Wrapper Footer Open // -->
<table border="0" cellpadding="0" cellspacing="0" style="max-width:600px;" width="100%" class="wrapperFooter">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <!-- Content Table Open// -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="footer">
          <tbody>
            <tr>
              <td align="center" valign="top"
                style="padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;" class="socialLinks">
                <!-- Social Links (Facebook)// -->

                <!-- Social Links (Twitter)// -->
                <a href="#twitter-link" target="_blank" style="display: inline-block;" class="twitter">
                  <img src="http://localhost:3333/files/img/twitter.png" alt="" width="40" border="0"
                    style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px">
                </a>
                <!-- Social Links (Pintrest)// -->

                <!-- Social Links (Instagram)// -->
                <a href="#instagram-link" target="_blank" style="display: inline-block;" class="instagram">
                  <img src="http://localhost:3333/files/img/instagram.png" alt="" width="40" border="0"
                    style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px">
                </a>
                <!-- Social Links (Linkdin)// -->
                <a href="#linkdin-link" target="_blank" style="display: inline-block;" class="linkdin">
                  <img src="http://localhost:3333/files/img/linkdin.png" alt="" width="40" border="0"
                    style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px">
                </a>
                <a href="#facebook-link" target="_blank" style="display: inline-block;" class="facebook"><img
                    src="http://localhost:3333/files/img/facebook.png" alt="" width="40" border="0"
                    style="height:auto; width:100%; max-width:40px; margin-left:2px; margin-right:2px"></a>
              </td>
            </tr>

            <tr>
              <td align="center" valign="top" style="padding: 10px 10px 5px;" class="brandInfo">
                <!-- Brand Information // -->
                <p class="text"
                  style="color:#777777; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:12px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:20px; text-transform:none; text-align:center; padding:0; margin:0;">
                  ©&nbsp; Gympoint. | 800 Broadway, Suite 1500 | New York, NY 000123, USA.
                </p>
              </td>
            </tr>

            <tr>
              <td align="center" valign="top" style="padding: 0px 10px 20px;" class="footerLinks">
                <!-- Use Full Links (Privacy Policy)// -->
                <p class="text"
                  style="color:#777777; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:12px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:20px; text-transform:none; text-align:center; padding:0; margin:0;">
                  <a href="#" style="color:#777777;text-decoration:underline;" target="_blank">View Web
                    Version </a>&nbsp;|&nbsp;<a href="#" style="color:#777777;text-decoration:underline;"
                    target="_blank"> Email Preferences </a>&nbsp;|&nbsp;<a href="#"
                    style="color:#777777;text-decoration:underline;" target="_blank"> Privacy Policy </a>
                </p>
              </td>
            </tr>

            <tr>
              <td align="center" valign="top" style="padding: 0px 10px 10px;" class="footerEmailInfo">
                <!-- Information of NewsLetter (Subscribe Info)// -->
                <p class="text"
                  style="color:#777777; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:12px; font-weight:400; font-style:normal; letter-spacing:normal; line-height:20px; text-transform:none; text-align:center; padding:0; margin:0;">
                  If you have any quetions please contact us <a href="#"
                    style="color:#777777;text-decoration:underline;" target="_blank">support@mail.com.</a><br>
                  <a href="#" style="color:#777777;text-decoration:underline;" target="_blank">Unsubscribe</a>
                  from our mailing lists
                </p>
              </td>
            </tr>

            <tr>
              <td align="center" valign="top"
                style="padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;" class="appLinks">
                <!-- App Links (Anroid)// -->
                <a href="#Play-Store-Link" target="_blank" style="display: inline-block;" class="play-store">
                  <img src="http://localhost:3333/files/img/play-store.png" alt="" width="120" border="0"
                    style="height:auto;margin:5px;width:100%;max-width:120px;">
                </a>
                <!-- App Links (IOs)// -->
                <a href="#App-Store-Link" target="_blank" style="display: inline-block;" class="app-store">
                  <img src="http://localhost:3333/files/img/app-store.png" alt="" width="120" border="0"
                    style="height:auto;margin:5px;width:100%;max-width:120px;">
                </a>
              </td>
            </tr>

            <!-- Space -->
            <tr>
              <td height="30" style="font-size:1px;line-height:1px;">&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <!-- Content Table Close// -->
      </td>
    </tr>

    <!-- Space -->
    <tr>
      <td height="30" style="font-size:1px;line-height:1px;">&nbsp;</td>
    </tr>
  </tbody>
</table>
<!-- Email Wrapper Footer Close // -->
